TestTecnico/WindowsForms/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDatos">
        <s:complexType />
      </s:element>
      <s:element name="GetDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatosResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevaPersonna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevaPersonnaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPersonaResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaPersonaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDatosSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatos" />
  </wsdl:message>
  <wsdl:message name="GetDatosSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatosResponse" />
  </wsdl:message>
  <wsdl:message name="NuevaPersonnaSoapIn">
    <wsdl:part name="parameters" element="tns:NuevaPersonna" />
  </wsdl:message>
  <wsdl:message name="NuevaPersonnaSoapOut">
    <wsdl:part name="parameters" element="tns:NuevaPersonnaResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPersona" />
  </wsdl:message>
  <wsdl:message name="ModificarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="BajaPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:BajaPersona" />
  </wsdl:message>
  <wsdl:message name="BajaPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:BajaPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetDatos">
      <wsdl:input message="tns:GetDatosSoapIn" />
      <wsdl:output message="tns:GetDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NuevaPersonna">
      <wsdl:input message="tns:NuevaPersonnaSoapIn" />
      <wsdl:output message="tns:NuevaPersonnaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPersona">
      <wsdl:input message="tns:ModificarPersonaSoapIn" />
      <wsdl:output message="tns:ModificarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <wsdl:input message="tns:BajaPersonaSoapIn" />
      <wsdl:output message="tns:BajaPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatos">
      <soap:operation soapAction="http://tempuri.org/GetDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaPersonna">
      <soap:operation soapAction="http://tempuri.org/NuevaPersonna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPersona">
      <soap:operation soapAction="http://tempuri.org/ModificarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <soap:operation soapAction="http://tempuri.org/BajaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDatos">
      <soap12:operation soapAction="http://tempuri.org/GetDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaPersonna">
      <soap12:operation soapAction="http://tempuri.org/NuevaPersonna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPersona">
      <soap12:operation soapAction="http://tempuri.org/ModificarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <soap12:operation soapAction="http://tempuri.org/BajaPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:58279/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:58279/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>